In [6]:
import pandas as pd
from datetime import datetime

In [52]:
df=pd.read_csv("base.csv")

In [53]:
df.head()

   Month  Day Version       Shop  Hour   Volume
0      8    1  actual      Total     1  4930.90
1      8    1  actual         KP     1  2315.77
2      8    1  actual         MP     1  2615.13
3      8    1  actual  unbalance     1  -621.90
4      8    1    plan      Total     1  4309.00

In [54]:
df["Date"]=df["Month"].astype(str)+"/"+df["Day"].astype(str)+"/2019"

In [55]:
df.head()

   Month  Day Version       Shop  Hour   Volume      Date
0      8    1  actual      Total     1  4930.90  8/1/2019
1      8    1  actual         KP     1  2315.77  8/1/2019
2      8    1  actual         MP     1  2615.13  8/1/2019
3      8    1  actual  unbalance     1  -621.90  8/1/2019
4      8    1    plan      Total     1  4309.00  8/1/2019

In [56]:
df["Time"]=df["Hour"].astype(str)+":00:00"

In [57]:
df.head()

   Month  Day Version       Shop  Hour   Volume      Date     Time
0      8    1  actual      Total     1  4930.90  8/1/2019  1:00:00
1      8    1  actual         KP     1  2315.77  8/1/2019  1:00:00
2      8    1  actual         MP     1  2615.13  8/1/2019  1:00:00
3      8    1  actual  unbalance     1  -621.90  8/1/2019  1:00:00
4      8    1    plan      Total     1  4309.00  8/1/2019  1:00:00

In [58]:
df.Date=pd.to_datetime(df.Date)
df.Time=pd.to_timedelta(df.Time)
df["Timeindex"]=df.Date+df.Time

In [59]:
df.head()

,Month,Day,Version,Shop,Hour,Volume,Date,Time,Timeindex
0,8,1,actual,Total,1,4930.90,2019-08-01,01:00:00,2019-08-01 01:00:00
1,8,1,actual,KP,1,2315.77,2019-08-01,01:00:00,2019-08-01 01:00:00
2,8,1,actual,MP,1,2615.13,2019-08-01,01:00:00,2019-08-01 01:00:00
3,8,1,actual,unbalance,1,-621.90,2019-08-01,01:00:00,2019-08-01 01:00:00
4,8,1,plan,Total,1,4309.00,2019-08-01,01:00:00,2019-08-01 01:00:00

In [51]:
df.columns

Index(['Month', 'Day', 'Version', 'Shop', 'Hour', 'Volume', 'Date', 'Time',
       'Timeindex'],
      dtype='object')